<! doctype html>

<html lang="en-gb">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Clare Archibald">
        <meta name="description" content="Clare Archibald is an artist living on the east coast of Scotland. She uses words, sounds, images, objects and materials to explore ideas across and between forms.">
        
        <link rel="icon" href="static/img/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="../static/css/ca_main.css">
           
        <title>Clare Archibald</title>
    
    
    </head>
    
    <body>
        
        <h1>Clare Archibald</h1>
        
        <h2>Clare Archibald is a Scottish multidisciplinary writer-artist working with text, sound, image, materials, and objects. Her work explores place, time, articulation, movement and encounter. She is interested in the intersections and between spaces of the autodidactic and the academic, the private and the public, and the individual and the collective.<br><br>
            
        This website is currently being rebuilt and restructured to streamline her large body of diverse work, residency and event history, commissions and awards.</h2>
    
    
    
    </body>



</html>